@import 'mixins';
.messages {
  flex-grow: 1;
  overflow-y: auto;
  background-image: url(../../../../Assets/Img/pattern.svg);
  .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    @include Tablet {
      width: 100%;
    }

    .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      padding: 8px;
      border-radius: 18px;
      .userText {
        color: #3c80be !important;
      }
    }

    .me {
      background-color: #766ac8;
      width: fit-content;
      border-bottom-left-radius: 0;
      @include Tablet {
        border-bottom-left-radius: 18px;
        margin-left: auto;
        align-self: flex-end;
        border-bottom-right-radius: 0px;
        max-width: 550px;
      }
    }

    .user {
      position: relative;
      background-color: #212121;
      width: fit-content;
      border-bottom-left-radius: 0;
    }

    .text {
      font-size: 14px;
      font-family: 'Poppins', serif;
    }
  }
}
